
/* 
#header {
    background: #4895E5;
    align-content: right;
}

#header label{
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0 0 1em 0;
} */


.photo-box {
    border-style: dashed;
}