html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: 'Montserrat', 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Calibri, Arial, sans-serif;
}

.span6{
    float: none; margin: 0 auto;
}

.dropzone {
    width : 100%;
    height : 80%;
    border : 2px dashed transparent;
    padding: 10px 150px;
    background-color: #ec5252;
    -webkit-text-fill-color: white;
  }

.dropzone:hover {
    cursor: pointer;
    background-color: #ec2626;    
}

.toggle{
    font-size: 0.75em;
}
.list-group-item{
    max-width: 100%;
    margin: 0;

}
.d-flex{
    padding-left: 0;
    padding-right: 0;
}
.list-group-item:hover{
    background-color: #EEEE;
}

.hover-btn {
    position: absolute;
    left: -1.25em;
    top: -1.25em;
    display: none;
 }
 .list-group-item:hover .hover-btn {
    display: block;
 }

.caption{
    padding-bottom: 0;
}
.figure-img:hover{
    opacity: 0.95;
    filter: brightness(90%);
    cursor: crosshair;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.75rem;
    background-color: #f5f5f5;
    text-align: center;
}