/* #header {
    background: #4895E5;
    align-content: right;
}

#header h1 {
    font-weight: bold;
    font-size: 2em;
    color: whitesmoke;
}
#header label{
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0 0 1em 0;
} */


.photo-box {
    border-style: dashed;
}